# Questions for Certificate Basic: [Python Data Associate]
# by [alex] :) UCT
# Python version: 3.13.9

In [ ]:
# 1 - Filtra la lista en python usando una compresion de listas para que solo se devuelvan 
# valores mayores o iguales a 15.

my_list = [15, 18, 17, 12, 11, 7, 8]
list_filtered = [x for x in my_list if x >= 15] # aplicacion de compresion de listas
print(list_filtered)

[15, 18, 17]

In [1]:
# Se te asigna un DataFrame con las columnas y como cadenas.
# data datetime 
# crea una columna como tipo de dato fecha y hora combinando las dos columnas. datetime
# DataFrame: un dataframe es una estructura de datos bidimensional, similar a una tabla, que se utiliza en Python para almacenar y manipular datos de manera eficiente. Es proporcionado por la biblioteca pandas y permite realizar operaciones como filtrado, agrupamiento y análisis de datos de manera sencilla.
"""  
Fecha       Hora
2023-07-01  12:30 PM
2023-07-02  03:45 PM
2023-07-03  09:15 AM
"""

import pandas as pd

# Creacion del DataFrame

data = pd.DataFrame({
    'Fecha': ['2023-07-01', '2023-07-02', '2023-07-03'],
    'Hora': ['12:30 PM', '03:45 PM', '09:15 AM']
})

data['datetime'] = pd.to_datetime(data['Fecha'] + ' ' + data['Hora'])
print(data['datetime'])
# pd.to_datetime() es una funcion de pandas que dectecta automaticamente el formato de fecha y hora y convierte las cadenas en objetos datetime de pandas.
# data --> nombre del DataFrame 
# ['datetime'] --> nombre de la columna entre corchetes (como un diccionario)

0   2023-07-01 12:30:00
1   2023-07-02 15:45:00
2   2023-07-03 09:15:00
Name: datetime, dtype: datetime64[ns]

In [ ]:
# El conjunto de datos dado tiene precios para diferentes modelos de telefono. df
# Busca todos los modelos que contienen la cadena "Pro" en el usando regex. Model

"""  
Marca    Modelo          Precio
Apple    iPhone 13 Pro   999
Samsung  Galaxy S21 Pro  799
Google   Pixel 6         599
OnePlus  9 Pro           729

"""

import re # importar la libreria de expresiones regulares --> herramienta que permite trabajar con patrones de texto de manera poderosa y flexible.
import pandas as pd

data = pd.DataFrame({
    'Marca': ['Apple', 'Samsung', 'Google', 'OnePlus'],
    'Modelo': ['iPhone 13 Pro', 'Galaxy S21 Pro', 'Pixel 6', '9 Pro'],
    'Precio': [999, 799, 599, 729]
})

pattern = r'Pro'  # cadena a buscar en el modelo usando regex
filtered_models = data[data['Modelo'].str.contains(pattern, regex=True)]
print(filtered_models)

"""  
Aclaraciones:

r --> indica que es una cadena raw (cruda), lo que significa que los caracteres de escape se interpretan literalmente.

"Pro" --> cadena que se busca en los modelos de telefono.


.str.contains() --> metodo de pandas que verifica si una cadena contiene un patron especifico (en este caso, "Pro").

refex=True --> indica que se esta utilizando una expresion regular para la busqueda.

"""

     Marca          Modelo  Precio
0    Apple   iPhone 13 Pro     999
1  Samsung  Galaxy S21 Pro     799
3  OnePlus           9 Pro     729

In [ ]:
# Del conjunto de datos dado, filtra el conjunto de datos para mostrar solo filas donde empieza con la letra "T". df restaurant 

"""

Restaurante             Gastronomia
The Gourmet Kitchen     Italian
Hora del sushin         Japanese
Taco Fiesta             Mexican
restaurante de curry     Indian

"""

import pandas as pd

data = pd.DataFrame({
    'Restaurante': ['The Gourmet Kitchen', 'Hora del sushin', 'Taco Fiesta', 'restaurante de curry'],
    'Gastronomia': ['Italian', 'Japanese', 'Mexican', 'Indian']
})

filtered_restaurants = data.loc[data['Restaurante'].str.startswith('T')]
print(filtered_restaurants)

# data.loc[] --> metodo de pandas que permite filtrar filas y columnas basadas en etiquetas o condiciones especificas.
# .str.startswith('T') --> metodo de pandas que verifica si una cadena comienza con un patron especifico (en este caso, la letra "T").

           Restaurante Gastronomia
0  The Gourmet Kitchen     Italian
2          Taco Fiesta     Mexican

In [ ]:
# consulta la tabla de peliculas desde la base de datos movies.sqlite para devolver las peliculas cuyo director_id es 4762

from sqlalchemy import create_engine
import pandas as pd

engine = create_engine("sqlite://movies.slite")
conn = engine.connect()

query = conn.execute("SELECT * FROM movies WHERE director_id = 4762")
df = pd.DataFrame(query.fetchall())

conn.close()
print(df[1].head(4))

# ejemplo mas completo en esta misma carpeta :)

In [1]:
# Dado un dataframe pandas con columna, convierte el a formato Mes/Dia/Año. Date

"""  
Fecha       Region
2023-07-01  Un
2023-08-15  B
2023-09-30  C

"""

import pandas as pd 

data = pd.DataFrame({
    'Fecha': ['2023-07-01', '2023-08-15', '2023-09-30'],
    'Region': ['A', 'B', 'C']
})

data['Fecha'] = pd.to_datetime(data['Fecha']).dt.strftime('%m/%d/%Y')
print(data)

        Fecha Region
0  07/01/2023      A
1  08/15/2023      B
2  09/30/2023      C

In [ ]:
# Has recopilado detalles de un nuevo producto 
# ahora quieres añadir ese nuevo producto a la API dada

import requests

BASE_URL = "https://api.example.com/products"

add_product = {
    "name": "Nuevo Producto",
    "price": 29.99,
    "category": "Electrónica",
    "stock": 100,
    "image" : "https://example.com/images/nuevo_producto.jpg",
}

response = requests.post(f"{BASE_URL}/add", json=add_product)
print(response.json())

In [2]:
# tienes un dataframe que contiene informacion sobre los empleados de una empresa, como se muestra a continuacion.
# devuelve un dataframe con todos los empleados excepto los diseñadores

import pandas as pd
data = pd.DataFrame({ 
    "employee_id": [101, 102, 103, 104],
    "position" : ["Manager", "Designer", "Developer", "Designer"],
    "start_year" : [2015, 2018, 2020, 2019]   

})

filtered_data = data[data["position"] != "Designer"]
print(filtered_data)

   employee_id   position  start_year
0          101    Manager        2015
2          103  Developer        2020

In [3]:
# Dada una cadena en Python datetime_str, conviertela de tipo cadena a tipo fecha

from datetime import datetime

datetime_str = "28/04/15 04:54:14"

converted_datetime = datetime.strptime(datetime_str, '%d/%m/%y %H:%M:%S')

print("el tipo de dato is ahora: ", type(converted_datetime))
print("el valor de la fecha es: ", converted_datetime)

el tipo de dato is ahora:  <class 'datetime.datetime'>
el valor de la fecha es:  2015-04-28 04:54:14

In [4]:
# En la siguiente tabla, encuentra el número de filas duplicadas 

import pandas as pd

data = pd.DataFrame({

    'Columna_A' : [1, 2, 2, 3, 4, 4, 4],
    'Columna_B' : ['A', 'B', 'B', 'C', 'D', 'D', 'D']
})

duplicate_count = data.duplicated().sum()
print("Número de filas duplicadas: ", duplicate_count)

Número de filas duplicadas:  3

In [ ]:
# dada una cadena llamada html que contiene una tabla con columnas y lee el script html y carga la tabla como 
# un dataframe pandas


import pandas as pd

html_script = """
<table>
    <tr>
        <th>Nombre</th>
        <th>Edad</th>
        <th>Ciudad</th>
    </tr>
    <tr>
        <td>Alice</td>
        <td>30</td>
        <td>New York</td>
    </tr>
    <tr>
        <td>Bob</td>
        <td>25</td>
        <td>Los Angeles</td>
    </tr>
    <tr>
        <td>Charlie</td>
        <td>35</td>
        <td>Chicago</td>
    </tr>
</table>
"""

# leer con html con conversion de tipos

html_parsed = pd.read_html(html_script, converters={
    'Edad': int,
    'Nombre': str,
    'Ciudad': str,
    })

# obtener el dataframe (read_html devuelve una lista de dataframes)
df = html_parsed[0]

print(df)

In [ ]:
# Cuenta el numero de filas en la tabla de peliculas de la base de datos de prueba


import sqlalchemy as bd

engine = bd.create_engine("sqlite:///test_db.sqlite")
connection = engine.connect()

query = connection.execute("SELECT COUNT(*) FROM movies") # consulta SQL para contar el numero de filas en la tabla movies
result = query.fetchone() # obtener el resultado de la consulta
count = result.fetchone()[0] # extraer el numero de filas del resultado
print("Número de filas en la tabla de películas: ", count)

conn.close()

# Aclaraciones:
# engine --> objeto que representa la conexion a la base de datos
# connection --> objeto que representa la conexion activa a la base de datos
# query --> objeto que representa la consulta SQL ejecutada
# result --> objeto que contiene el resultado de la consulta
# count --> variable que almacena el numero de filas en la tabla de peliculas

# EJEMPLO MAS COMPLETO OCUPADO UNA BASE DE DATOS REAL EN ESTA MISMA CARPETA :)

In [ ]:
# Acotación !!!
# La estructura basica de una pagina HTML es:
# HTML, CABEZA, TITULO, CUERPO, PIE DE PAGINA

In [8]:
# filtra la lista de python que aparece a continuacion usando una funcion lambda para que solo se devuelvan 
# valores mayores o iguales a 15.

my_list = [15, 18, 17, 12, 11, 7, 8]
filtered_list = list(filter(lambda x: x >= 15, my_list))
print(filtered_list)

[15, 18, 17]

In [ ]:
# Te dan datos json sobre la informacion de algunos estudiantes en una universidad.
# analiza los datos a un dataframe de pandas.

import pandas as pd
import json

data = {
    "students": [
        {"name": "Alice", "age": 22, "major": "Computer Science"},
        {"name": "Bob", "age": 24, "major": "Mathematics"},
        {"name": "Charlie", "age": 23, "major": "Physics"}
    ]
}

df = pd.json_normalize(data, 'students')
print(df)

# json_normalize() --> funcion de pandas que convierte datos JSON anidados en un DataFrame plano.

      name  age             major
0    Alice   22  Computer Science
1      Bob   24       Mathematics
2  Charlie   23           Physics

In [ ]:
# importa los directores de tablas desde la base de datos de peliculas a un dataframe pandas
# asegurate de importar todas las columnas de la tabla

import pandas as pd
import sqlalchemy as bd

engine = bd.create_engine("sqlite:///movies.sqlite")
connection = engine.connect()
query = connection.execute("SELECT * FROM directors")
directors_df = pd.DataFrame(query.fetchall(), columns=query.keys())
print(directors_df.head())

connection.close()

# Aclaraciones:
# engine --> objeto que representa la conexion a la base de datos
# connection --> objeto que representa la conexion activa a la base de datos
# query --> objeto que representa la consulta SQL ejecutada
# directors_df --> dataframe que contiene los datos de la tabla directors 
# query.fetchall() --> obtiene todas las filas devueltas por la consulta
# columns=query.keys() --> obtiene los nombres de las columnas de la tabla directors